### Importing basic libraries

In [2]:
import numpy as np
import pandas as pd

### Reading dataset

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Precily_Text_Similarity.csv")

In [4]:
df.head()

,text1,text2
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text1   3000 non-null   object
 1   text2   3000 non-null   object
dtypes: object(2)
memory usage: 47.0+ KB

### Dataset contain two columns and 3000 rows

### Checking for null values

In [6]:
empty_idx=[]
for text in df.itertuples():
  if type(text)==str:
    if text.isspace():
      empty_idx.append(indx)
print(empty_idx)

[]

### No null values present in the dataset.

In [7]:
import nltk

from nltk.tokenize import word_tokenize
nltk.download("punkt")

from nltk.corpus import stopwords
nltk.download("stopwords")

from nltk.stem import PorterStemmer,WordNetLemmatizer
nltk.download("wordnet")
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

### Preprocessing the dataset

In [8]:
def clean_text(text):
  token=word_tokenize(text.lower()) #case conversion + tokenization.


  #non alpha removal.
  ftoken=[i for i in token if i.isalpha()]

  #stop words removal
  stpwd=stopwords.words("english")
  stoken=[i for i in ftoken if i not in stpwd]

  #lemma.
  lemma=WordNetLemmatizer()
  ltoken=[lemma.lemmatize(i) for i in stoken]

  #joining list of msgs
  return " ".join(ltoken)

In [9]:
df["text1"]=df["text1"].astype(str)
df["text2"]=df["text2"].astype(str)

In [10]:
df["clean_text1"]=df["text1"].apply(clean_text)

In [11]:
df["clean_text2"]=df["text2"].apply(clean_text)

In [12]:
x=df["clean_text1"]
y=df["clean_text2"]

### Vectorization

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
vec=TfidfVectorizer()
x=vec.fit_transform(x).toarray()
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
y=vec.transform(y).toarray()
y

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

### Finding Similarities

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
similarity_score = cosine_similarity(x, y)

In [18]:
similarity_score

array([[0.07087576, 0.02468599, 0.027059  , ..., 0.03009167, 0.01666985,
        0.00664859],
       [0.02064268, 0.00508798, 0.00844731, ..., 0.00441067, 0.00873392,
        0.0227602 ],
       [0.0239413 , 0.01210743, 0.01046757, ..., 0.00757458, 0.03343709,
        0.02132613],
       ...,
       [0.00430935, 0.004532  , 0.00804022, ..., 0.00282144, 0.01681357,
        0.00877989],
       [0.04168101, 0.03284572, 0.03087724, ..., 0.00625447, 0.01639349,
        0.02587555],
       [0.0136329 , 0.02004591, 0.00674073, ..., 0.02592821, 0.0145323 ,
        0.02154479]])

In [19]:
similarity_score.min()

0.0

In [20]:
similarity_score.max()

1.0000000000000009

In [21]:
similarity_score.max(axis=1)

array([1., 1., 1., ..., 1., 1., 1.])

In [22]:
df['similarity_score']=similarity_score.max(axis=1)

In [23]:
df.head()

,text1,text2,clean_text1,clean_text2,similarity_score
0,broadband challenges tv viewing the number of ...,gardener wins double in glasgow britain s jaso...,broadband challenge tv viewing number european...,gardener win double glasgow britain jason gard...,1.0
1,rap boss arrested over drug find rap mogul mar...,amnesty chief laments war failure the lack of ...,rap bos arrested drug find rap mogul marion su...,amnesty chief lament war failure lack public o...,1.0
2,player burn-out worries robinson england coach...,hanks greeted at wintry premiere hollywood sta...,player worry robinson england coach andy robin...,hank greeted wintry premiere hollywood star to...,1.0
3,hearts of oak 3-2 cotonsport hearts of oak set...,redford s vision of sundance despite sporting ...,heart oak cotonsport heart oak set ghanaian co...,redford vision sundance despite sporting cordu...,1.0
4,sir paul rocks super bowl crowds sir paul mcca...,mauresmo opens with victory in la amelie maure...,sir paul rock super bowl crowd sir paul mccart...,mauresmo open victory la amelie mauresmo maria...,1.0

In [24]:
df.tail()

,text1,text2,clean_text1,clean_text2,similarity_score
2995,uk directors guild nominees named martin scors...,steel firm to cut 45 000 jobs mittal steel ...,uk director guild nominee named martin scorses...,steel firm cut job mittal steel one world larg...,1.0
2996,u2 to play at grammy awards show irish rock ba...,israel looks to us for bank chief israel has a...,play grammy award show irish rock band play li...,israel look u bank chief israel asked u banker...,1.0
2997,pountney handed ban and fine northampton coach...,india and iran in gas export deal india has si...,pountney handed ban fine northampton coach bud...,india iran gas export deal india signed deal i...,1.0
2998,belle named best scottish band belle & sebas...,mido makes third apology ahmed mido hossam h...,belle named best scottish band belle sebastian...,mido make third apology ahmed mido hossam made...,1.0
2999,criminal probe on citigroup deals traders at u...,former ni minister scott dies former northern ...,criminal probe citigroup deal trader u banking...,former ni minister scott dy former northern ir...,1.0

In [25]:
import pickle

In [26]:
pickle.dump(df,open("df.pkl","wb"))

In [27]:
pickle.dump(vec,open("tfidfvect.pkl","wb"))

In [28]:
pickle.dump(similarity_score,open("similar.pkl","wb"))